@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300..800&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #e2e2e2;
  --color-muted: #888888;
  --color-accent: #3d6b4f;
  --color-accent-hover: #4a7d5e;
  --color-accent-bright: #7fbf95;
  --color-accent-subtle: #b8e0a0;
  --color-error: #f87171;
  --color-tile: #141516;
  --color-base: #e2e2e2;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'JetBrains Mono', monospace;
}

html {
  background-color: #080808;
  color: #e2e2e2;
  font-family: 'Inter', sans-serif;
}
